*{padding-left: 10px;
}
.encabezado{
display: flex;
border-bottom: 1px  solid #1e0be7;
}
.logo{
    width: 200px;
   
}
.titulo{
    position: relative;
    padding-top: 10px;

    
}
.seccion{
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 100vw;
   height: 100vh;
   background-color: antiquewhite;
   
}
.img{
    width: 100px;
    height: 100px ;
    
}
figure{
    display: flex;
    text-align: center;
    
}
article{
    display: flex;
    justify-content: center;
    width: 40%;
}
